{% extends "bookMS/base.html" %}

{% block mainbody %}
    <form class="navbar-search pull-left" method="get" action="{% url 'bookMS:bookMS_books_search' %}">
        查找图书
        <input type="text" name="key_word" class="search-query span2" value="{{ key_word }}" placeholder="输入“书名/作者” Enter搜索" />
    </form>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>编号</th>
                <th>书名</th>
                <th>价格</th>
                <th>分类</th>
                <th>作者</th>
                <th>出版社</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for vo in booksList %}
            <tr>
                <td>{{ vo.id }}</td>
                <td ><strong>{{ vo.book_name }}</strong></td>
                <td>{{ vo.book_price }}</td>
                <td>{{ vo.book_type }}</td>
                <td>{{ vo.book_authors }}</td>
                <td>{{ vo.book_publisher }}</td>
                <td>
                    <a href="{% url 'bookMS:bookMS_borrows_index' vo.id %}" class="view-link">借阅</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>                
    <div class="pagination">
        <ul>
            {% if booksList.has_previous %}
                <li>
                    <a href="{% url 'bookMS:bookMS_books_index' booksList.previous_page_number %}">&laquo;</a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="#">&laquo;</a>
                </li>
            {% endif %}
            {% for index in booksList.paginator.page_range %}
                {% if index == booksList.number %}
                    <li class="disabled">
                        <a href="{% url 'bookMS:bookMS_books_index' index %}">{{ index }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'bookMS:bookMS_books_index' index %}">{{ index }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if booksList.has_next %}
                <li>
                    <a href="{% url 'bookMS:bookMS_books_index' booksList.next_page_number %}">&raquo;</a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="#">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}